<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weather.com.ztt.zttweatheralarm">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <application
        android:name=".WeatherAlarmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ztt"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />

        <activity android:name=".main.ui.WeatherMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.ui.MainActivity"/>
        <activity
            android:name=".weather.ui.WeatherActivity"
            android:label="@string/weather.info.last.prediction"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.ui.MainActivity" />
            >
        </activity>

        <receiver
            android:name=".main.ui.MyAlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".weather.ui.WeatherAlarmNotificationVoiceService"
            android:enabled="true"
            android:exported="true" />


    </application>

</manifest>